body {
    padding: 0;
    margin: 0;
}
.dashBoardContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.leftMenuContainer {
    height: 100%;
    background-color: lightskyblue;
    grid-row: span 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, minmax(0px, auto));
   

}

.leftMenuContainer p {
    margin: 0;
}


.headerContainer {
    background-color: white;
}

.topHeader {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 15px;
    margin-left: 15px;
}

.bottomHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.topHeaderLeft {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.topHeaderRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.bottomHeaderLeft {
    display: flex;
    gap: 10px;
    margin-left: 15px;
    align-items: center;


}


.searchButton {
    height: 30px;
    width: 450px;
    background-color: darkgray;
}

.mainContentContainer {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 15px;
    max-height: 825px;
}

.mainContentLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 1fr;
    gap: 15px;
}

.mainContentRight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr
}

.mainContentLeftHeader {
    grid-column: span 2;
}

.projectCard {

    background-color: white;
    border-radius: 5px;
}

.announcementsCard {
    background-color: white;
    border-radius: 5px;
}

.trendingCard {
    background-color: white;
    border-radius: 5px;
}

